

body{
	font-family: ;
}

h1 {
	font-size: 64 px;
}

p {
	font-size: 24 px;
}

.pic {
	margin: auto;
	height: 100%;
	max-width: 50%;
	background-image: "";
}


.content {
	height: 100%;
	min-width: 50%;
	overflow: scroll;
}

